*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    border: 2px solid red;
    display: grid;
    row-gap: 20px;
    column-gap: 5px;
    grid-template-areas: "hdr hdr hdr hdr" 
                          "sbr main main main"
                          "sbr main main main"
                          "ftr ftr ftr ftr";





}

.box{
    border: 2px solid green;
    padding: 12px;
    
}


#box-1{
    grid-area: hdr;
}

#box-2{
    grid-area: sbr;
}
#box-3{
    grid-area: main;
}
#box-4{
    grid-area: ftr;
}
