.box{
    margin: 100px auto;
    width: 200px;
    height: 200px;
    background-color: teal;
    transition-duration: 1s;
    transition-property: background-color,border-radius, transform;
    transition-delay: 0.1s;
    transition-timing-function: ease;
}

.box:hover{

    transform: scale(1.2);
   
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
}
.item{
    font-size: 2rem;
    padding: 8px 16px;
    transition: 0.3s ease-in;
}
.item:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transform: translatey(-10px);

}